.status-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
}

.status-bar__time {
  color: #fff;
  font-size: 15px;
}

.status-bar__group-icons {
  display: flex;
}